<h1 align="center"> Tu Carrito </h1>

<div class="main responsive">
	<%= link_to "<- Volver a eFood", root_path, class: 'links'%>
	<p class="colored-text">Resumen</p>
	<div align="center">
		<table style="width: 100%">
			<thead>
				<tr>
					<th></th>
					<th class="colored-text centered">Platillo</th>
					<th class="colored-text centered">Cantidad</th>
					<th class="colored-text centered">Precio</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td><%= image_tag('quesadilla.jpg', class: 'food-img') %></td>
					<td>Quesadillas de flor de calabaza en salsa Roja</td>
					<td>
						<div style="display: -webkit-inline-box; margin: auto; width: 129px;">
							<%= image_tag('minus.png', class: 'logo') %>
							<input type="text" class="form-control" value="1" id="amount" style="width: 35px; padding-right: 2px; padding-left: 2px; font-size: 23px; text-align: center;">
							<%= image_tag('plus.png', class: 'logo') %>
						</div>
					</td>
					<td>$ 320</td>
					<td><%= link_to "Quitar del pedido", root_path, class: 'orange btn btn-md'%></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>